.floatleft{
	position: relative;
	float: left;
}
.floatright{
	position: relative;
	float: right;
}
.pad-rig{
	padding-right: 4%;
}
.borderight{
	border-right: 10px solid white;
}
.borderleft{
	border-left: 10px solid white;
}
.bordecolor{
	border-top:70px solid #F1AE9D;
}
.colorosc{
	color:#E7663C;
}
.colorcla{
	color:#F1AE9D;
}
.bg-white{
	background: white;
}
.colplom{
	color:#C0C0C0;
}
.bg-orange{
	background: #E7663C;
	color: white;
}
.bg-cor{
	background: #F1AE9D;
}
.pd-5{
	padding-left: 20px;
}
.fotbor{
	border:1px solid #C0C0C0;
}
.bg-raya{
    background: url("../images/heading-bg.png") repeat-x;
    padding: 20px 0;
    margin-top: 2.5%;
}
